// Go to setting in chrome, there we can find 'Appearence' tab click on it, then we can change font size manually.
body{
  font-size: 200%;    //  It is parent syntax in css. It adds its font size to all other sizes mentioned in sub-tags, such as h1 font size and h2 font size.
}

h1
{
  margin-top: 50px auto 0 auto; // to give space from top, use this code. first 50px gives space from top margin, then next 'auto' settles text to middle from right, then '0' gives no space from bottom, then next 'auto' settles text middle from right.
  font-size: 5.625rem;     //100%=16px, (90px/16)*100=562.5%, 1em=100%=16px, 90px/16=5.625em    // If we specify pixel then it is static and it dont change with change in font-size from Appearence tab in chrome setting. Whereas, if specify font-size as "%" and "em" in stylesheet, it is dynamic, it changes with change in font size of chrome appearence tab. 
}

h2{
  font-size: 2.5rem;  // But if we mention font size as 'rem' then it wont get affected by body font-size. It dont adds body font size to it. It changes with change in font-size in Appearence tab from chrome setting.
}
